[submodule "TwitchLib.PubSub"]
	path = TwitchLib.PubSub
	url = https://github.com/JustDerb/RoR2-VsTwitch-TwitchLib.PubSub.git
[submodule "TwitchLib.Client"]
	path = TwitchLib.Client
	url = https://github.com/JustDerb/RoR2-VsTwitch-TwitchLib.Client.git
[submodule "TwitchLib.Api"]
	path = TwitchLib.Api
	url = https://github.com/JustDerb/RoR2-VsTwitch-TwitchLib.Api.git
[submodule "TwitchLib.WebSocket"]
	path = TwitchLib.WebSocket
	url = https://github.com/TwitchLib/TwitchLib.WebSocket
[submodule "TwitchLib.EventSub.Websockets"]
	path = TwitchLib.EventSub.Websockets
	url = https://github.com/JustDerb/RoR2-VsTwitch-TwitchLib.EventSub.Websockets.git
[submodule "TwitchLib.Api/"]
	branch = dev
[submodule "TwitchLib.Client/"]
	branch = dev
[submodule "TwitchLib.EventSub.Websockets/"]
	branch = dev
[submodule "TwitchLib.PubSub/"]
	branch = dev
[submodule "TwitchLib.Unity"]
	path = TwitchLib.Unity
	url = https://github.com/JustDerb/RoR2-VsTwitch-TwitchLib.Unity.git
[submodule "TwitchLib.Communication"]
	path = TwitchLib.Communication
	url = https://github.com/JustDerb/RoR2-VsTwitch-TwitchLib.Communication.git
[submodule "TwitchLib.EventSub.Core"]
	path = TwitchLib.EventSub.Core
	url = https://github.com/JustDerb/RoR2-VsTwitch-TwitchLib.EventSub.Core.git
